div{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:20%;
    animation: mover 2s forwards;
    animation-delay: 1s; 
    animation-fill-mode: forwards; 
    opacity:0;



}

button{
    align-self: center;
    text-align: center;
}

h1{
    display:flex;
    justify-content: center;
    animation:mover1 2s forwards;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
    opacity:0;}


