<!DOCTYPE html>
<div>
    <table>
        <caption *ngIf="componenteActual ===1">Proovedores</caption>
        <thead>
            <tr>
                <th>CIF</th>
                <th>Nombre</th>
                <th>Actividad</th>
                <th>Dirección</th>
                <th>Localidad</th>
                <th>Código Postal</th>
                <th>Teléfono</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proovedor of proovedores$ | async">
              <td style="line-height: 180%;"class="color1">{{proovedor.cif}}</td>  
              <td class="color">{{proovedor.nombre}}</td>
              <td class="color">{{proovedor.actividad}}</td>
              <td class="color">{{proovedor.direccion}}</td>
              <td class="color">{{proovedor.localidad}}</td>
              <td class="color">{{proovedor.codigoPostal}}</td>
              <td style="line-height: 180%;"class="color-1">{{proovedor.telefono}}</td>
              <td *ngIf="componenteActual === 1"><button (click)="Modificar(proovedor)">Modificar</button></td>
              <td *ngIf="componenteActual === 1"><button (click)="Eliminar(proovedor)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>

